<nav class="nav-menu bg-danger p-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="fotos/findAllbyRate/view?lower=0&upper=10">Fotos</a>
        </li>
    </ul>
</nav>